@import url("https://fonts.googleapis.com/css2? family= Roboto:wght@100 & display=swap");
@font-face {
  font-family: "Shrikhand";
  src: url("/public/css/fonts/Shrikhand-Regular.ttf") format("ttf");
}
p {
  font-size: 16px;
  color: #000;
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
  color: #353535;
}

h1, h2, h3 {
  color: #000;
}

h2 {
  font-size: 17px;
}

h3 {
  font-size: 17px;
}

* {
  box-sizing: border-box;
}

.font-awesome-light-gray {
  color: #7E7E7E;
}

.font-awesome-dark-gray {
  color: #353535;
}

.font-awesome-purple {
  color: #9356DC;
}

#header_index {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
#header_index img {
  width: 175px;
}

#location {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #EAEAEA;
  border-top: solid 2px #D5D5D5;
  margin-top: 15px;
  padding: 10px 0;
}
#location input {
  width: 150px;
  border: 0;
  border: none;
  outline: none;
  background-color: #EAEAEA;
  margin-left: 15px;
}
#location ::placeholder {
  color: #353535;
  font-weight: 600;
}

#header-menu {
  display: flex;
  align-items: center;
  margin: 20px 0 15px 0;
}
#header-menu #header-menu__arrow {
  display: flex;
  justify-content: center;
  width: 20%;
}
#header-menu #header-menu__logo {
  display: flex;
  justify-content: center;
  width: 60%;
}
#header-menu img {
  width: 175px;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding: 10px 0;
}
footer #footer-element {
  width: 90%;
  margin: auto;
}
footer #footer-element h3 {
  font-family: Shrikhand, sans-serif;
  color: #FFF;
  font-weight: 100;
}
footer #footer-element ul {
  padding-left: 0;
}
footer #footer-element ul li {
  list-style-type: none;
  padding: 5px 0 5px 0;
}
footer #footer-element a {
  color: #FFF;
}
footer #footer-element a:hover {
  color: #FF79DA;
}

#top-page {
  padding: 20px 0 60px 0;
  background-color: #F6F6F6;
}

#presentation {
  width: 90%;
  margin: auto;
  font-family: Roboto, sans-serif;
  text-align: center;
}
#presentation p {
  color: #353535;
  font-size: 18px;
}

.functioning {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.functioning .functioning__title {
  width: 100%;
}
.functioning .functioning__body {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .functioning .functioning__body {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.functionning-element {
  display: flex;
  height: 75px;
  margin: 12px 0 10px 0;
  margin-left: -13px;
}
@media screen and (min-width: 768px) {
  .functionning-element {
    margin-right: 50px;
  }
}
.functionning-element .functionning-element__num {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #9356DC;
  margin: 23px 0;
  position: relative;
  left: 13px;
}
.functionning-element .functionning-element__num p {
  color: #FFF;
  font-size: 15px;
}
.functionning-element .functionning-element__details {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 30px;
  box-shadow: 2px 2px 10px #b4b4b4;
  background-color: #F6F6F6;
}
.functionning-element .functionning-element__details .functionning-element__details--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px 0 33px;
}
.functionning-element .functionning-element__details .functionning-element__details--txt {
  align-items: center;
  padding-right: 30px;
}
.functionning-element .functionning-element__details .functionning-element__details--txt p {
  font-weight: 600;
}

.restaurants {
  background-color: #F6F6F6;
  margin-top: 60px;
  padding: 35px 0 55px 0;
}
.restaurants .restaurants__body {
  width: 90%;
  margin: auto;
}
.restaurants .restaurants__title {
  width: 100%;
}
@media screen and (min-width: 992px) {
  .restaurants .restaurants__title {
    margin-bottom: 25px;
  }
}
.restaurants .restaurants__cards {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .restaurants .restaurants__cards {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 992px) {
  .restaurants .restaurants__cards {
    justify-content: space-between;
  }
}

.card {
  border-radius: 15px;
  box-shadow: 2px 2px 2px #b4b4b4;
  margin: 10px 0 10px 0;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .card {
    width: 45%;
    margin-right: 5%;
  }
}
@media screen and (min-width: 992px) {
  .card {
    width: 24%;
    margin: 0;
  }
}
.card .card__img {
  overflow: hidden;
  position: relative;
}
.card .card__img .card__img--new {
  position: absolute;
  background-color: #99E2D0;
  top: 15px;
  right: 10px;
  border-radius: 3px;
  padding: 8px 15px;
  font-weight: 600;
}
.card .card__img .card__img--new p {
  font-size: 14px;
  color: #008766;
  margin: 0;
}
.card .card__img img {
  width: 100%;
  height: 175px;
  object-fit: cover;
}
.card .card__details {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card .card__details .card__details--name {
  margin-top: 10px;
}
.card .card__details .card__details--name h3 {
  margin: 0;
  padding-top: 10px;
}
.card .card__details .card__details--name h3:hover {
  color: #9356DC;
}
.card .card__details .card__details--name p {
  margin: 0;
  padding: 5px 0 15px 0;
}
.card .card__details .card__details--like {
  align-items: center;
  cursor: pointer;
}
.card:hover {
  box-shadow: 2px 2px 20px #9b9b9b;
}

#page {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  #page img {
    height: 400px;
    object-fit: cover;
  }
}
#page .details {
  border-radius: 40px 40px 0 0;
  padding: 20px 0;
  background-color: #F6F6F6;
  margin-top: -50px;
}
#page .details .details__body {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
#page .details h1 {
  font-family: Shrikhand, sans-serif;
  font-weight: 100;
}
#page .order {
  display: flex;
  justify-content: center;
  margin: 30px 0 60px 0;
}

.details-body-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
@media screen and (min-width: 768px) {
  .details-body-title {
    justify-content: flex-start;
  }
}
.details-body-title .details-body-title__tlt {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.details-body-title .details-body-title__icon {
  color: #353535;
  padding-right: 20px;
}
@media screen and (min-width: 768px) {
  .details-body-title .details-body-title__icon {
    margin-left: 125px;
  }
}

.details-body-category {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .details-body-category {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 992px) {
  .details-body-category {
    flex-direction: row;
    justify-content: space-between;
  }
}
.details-body-category .details-body-category__list {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .details-body-category .details-body-category__list {
    width: 45%;
    margin-right: 5%;
  }
}
@media screen and (min-width: 992px) {
  .details-body-category .details-body-category__list {
    width: 30%;
    margin-right: 0;
  }
}
.details-body-category .details-body-category__title {
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
}
.details-body-category .details-body-category__title h2 {
  color: #353535;
  font-weight: 100;
}
.details-body-category .details-body-category__title::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 10px;
  width: 13%;
  border-bottom: 3px solid #99E2D0;
}
.details-body-category .details-body-category__element {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #FFF;
  border-radius: 15px;
  box-shadow: 2px 2px 10px #969696;
  padding: 0 10px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .details-body-category .details-body-category__element {
    margin: 10px 0 20px 0;
  }
}
.details-body-category .details-body-category__element:hover {
  box-shadow: 2px 2px 20px #9b9b9b;
}
.details-body-category .details-body-category__element .details-body-category__element--name h3 {
  margin: 0;
  padding-top: 15px;
}
.details-body-category .details-body-category__element .details-body-category__element--name p {
  font-size: 15px;
  color: #353535;
  margin: 0;
  padding: 5px 0 15px 0;
}
.details-body-category .details-body-category__element .details-body-category__element--price {
  align-items: flex-end;
}
.details-body-category .details-body-category__element .details-body-category__element--price p {
  font-size: 15px;
  color: #353535;
  font-weight: bold;
}

.button-homepage {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: #FFF;
  font-size: 16px;
  padding: 15px 25px;
  border: 0;
  border-radius: 30px;
  margin-top: 10px;
}
.button-homepage:hover {
  background: linear-gradient(to bottom right, #9356DC, #FF79DA);
}

.button-menu-page {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: #FFF;
  font-size: 16px;
  padding: 15px 50px;
  border: 0;
  border-radius: 30px;
  margin-top: 10px;
}
.button-menu-page:hover {
  background: linear-gradient(to bottom right, #9356DC, #FF79DA);
}

@keyframes heart {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  font-family: Roboto, sans-serif;
}

/*# sourceMappingURL=style.css.map */
