$colour-primary: #9356DC;
$colour-secondary : #FF79DA;
$colour-tertiary: #99E2D0;
$colour-text : #000;
$colour-text-secondary : #4D4D4D;
$colour-title-primary : #000;
$colour-title-secondary : #FFF;

$font-family: Roboto, sans-serif;
$font-family-logo-and-titles: Shrikhand, sans-serif;

$colour-shadow: #b4b4b4;
$dark-colour-shadow: darken($colour-shadow, 10%);

$background : #F6F6F6;
$footer-background: #353535;